[Desktop Entry]
Name=Amegram Desktop
Comment=Desktop version of Amegram - Telegram client
TryExec=Amegram
Exec=env DESKTOPINTEGRATION=1 Amegram -- %U
Icon=com.amegram.desktop
Terminal=false
StartupWMClass=Amegram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;amegram;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Amegram -quit
Name=Quit Amegram
Icon=application-exit
